/* You can add global styles to this file, and also import other style files */

.aclass {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(3px 3px 3px #333333c9);
  opacity: 0.9;
}

#input {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(3px 3px 3px #333333);
  opacity: 0.6;
}

#title {
  display: flex;
  justify-content: center;
  filter: drop-shadow(1px 1px 1px #333333);
}
hr {
  width: 1200px;
  height: 9px;
}
